<?xml version="1.0" encoding="UTF-8"?>
<Environment>
	<Gather class="com.briup.client.GatherImp">
		<path>src/main/resources/radwtmp</path>
		<backup>src/main/resources/backupData</backup>
	</Gather>

	<Client class="com.briup.client.ClientImp">
		<ip>127.0.0.1</ip>
		<port>10001</port>
	</Client>

	<Server class="com.briup.server.ServerIMP">
		<port>10001</port>
	</Server>

	<DBStore class="com.briup.server.DBStoreIMP">
		<batchSize>1000</batchSize>
	</DBStore>

	<Log class="com.briup.log.LogIMP">
		<log4j-properties>src/main/resources/log4j.properties</log4j-properties>
	</Log>
</Environment>
